"source ~/.vimrc
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader=" "
" Don't use Ex mode, use Q for formatting.
map Q gq
set number relativenumber
set scrolloff=5
set history=1000
set visualbell
set showmode
set hlsearch
set incsearch
set ignorecase
set smartcase
set gdefault
set notimeout
set timeoutlen=5000
set showmode
set highlightedyank
set NERDTree
set sneak
set easymotion
"let g:NERDTreeWinSize=30
"let g:NERDTreeMapPreview = 'O'
nmap <c-s-e> :NERDTreeToggle<CR>
nmap ce :NERDTreeFocus<CR>
" nnoremap <c-d> <c-d>zz
" nnoremap <c-u> <c-u>zz

" continuous shift
xnoremap < <gv
xnoremap > >gv
nmap <leader>h :nohlsearch<CR>

" Remaps
inoremap jk <ESC>
nnoremap <leader>nh :nohl<CR>

""" Window navigation
nnoremap <c-s-l> :action MoveTabRight<CR>
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c-s--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
nnoremap <c-h> :action PrevSplitter<CR>
nnoremap <c-l> :action NextSplitter<CR>
nnoremap <c-w> :action CloseContent<CR>

" Tab navigation
nnoremap <leader>tn :bnext<CR>
nnoremap <leader>tp :bprevious<CR>
nmap <c-[> :action PreviousTab<CR>
nmap <c-]> :action NextTab<CR>
nmap <leader>t :action GotoTest<CR>

" Move selected line / block of text in visual mode
xnoremap J :m '>+1<CR>gv=gv
xnoremap K :m '<-2<CR>gv=gv

" Finding things
nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>ls :action ActivateStructureToolWindow<CR>
noremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>or :action RecentFiles<CR>

" Code completion
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <c-p> :action RecentFiles<CR>
nnoremap <leader>rm :action RunMenu<CR>
nnoremap <c-g> :action Generate<CR>
nnoremap <leader><Tab> :action ShowNavBar<CR>

" Jump
nmap [h :action PreviousTab<CR>
nmap ]l :action NextTab<CR>
nmap [g :action GotoPreviousError<CR>
nmap ]g :action GotoNextError<CR>
nmap [u :action GotoPrevElementUnderCaretUsage<CR>
nmap ]u :action GotoNextElementUnderCaretUsage<CR>
nmap <c-s-k> :action PreviousOccurence<CR>
nmap <c-s-j> :action NextOccurence<CR>
nmap [m :action MethodUp<CR>
nmap ]m :action MethodDown<CR>
nmap [c :action JumpToLastChange<CR>
nmap ]c :action JumpToNextChange<CR>

" LSP
nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>lR :action RenameFile<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>ll :action ActivateProblemsViewToolWindow<CR>

" gotos
nmap <leader>a :action GotoAction<CR>
nmap ga :action GotoAction<CR>
nmap <leader>of :action GotoFile<CR>
nmap gs :action GotoSymbol<CR>
nmap gT :action TextSearchAction<CR>
nmap go :action GotoSuperMethod<CR>
nmap gd :action GotoDeclaration<CR>
nmap gD :action GotoTypeDeclaration<CR>
nmap gi :action GotoImplementation<CR>
nmap gI :action QuickImplementations<CR>
nmap gn :action ShowNavBar<CR>
nmap gr :action FindUsages<CR>

" Todo
nmap <leader>to :action ActivateTODOToolWindow<CR>

" Menu
nmap <leader>mm :action MainMenu<CR>
nmap <leader>ma :action AnalyzeMenu<CR>
nmap <leader>mb :action BuildMenu<CR>
nmap <leader>mc :action CodeMenu<CR>
nmap <leader>mf :action FindMenuGroup<CR>
nmap <leader>mg :action GoToMenu<CR>
nmap <leader>ms :action ScopeViewPopupMenu<CR>
nmap <leader>mt :action EditorTabPopupMenu<CR>
nmap <leader>mw :action ToolWindowsGroup<CR>

" Debugger
nmap <leader>dra :action Debugger.RemoveAllBreakpoints<CR>
nmap <leader>da :action ToggleLineBreakpoint<CR>
nmap <c-e> :action QuickEvaluateExpression<CR>
nmap <c-j> :action StepOver<CR>
nmap <leader>dc :action Resume<CR>
nnoremap <leader>db :action ViewBreakpoints<CR>
nnoremap <leader>de :action EvaluateExpression<CR>
nnoremap <leader>dsi :action StepInto<CR>
nnoremap <leader>ds :action RunToolbarMainMultipleStopAction<CR>
nnoremap <leader>dd :action Debug<CR>
nnoremap <leader>dri :action JavaScript.Debugger.ReloadInBrowser<CR>
nnoremap <leader>drc :action RunToCursor<CR>
nnoremap <c-s-d> :action ActivateDebugToolWindow<CR>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<CR>
nnoremap <leader>dsl :action PhpListenDebugAction<CR>

" Settings
nmap <leader>os :action ShowSettings<CR>
nnoremap <leader>wc :action HideActiveWindow<CR>

" Project Window
nnoremap ]p :action NextProjectWindow<CR>
nnoremap [p :action PreviousProjectWindow<CR>
nnoremap <leader>op :action OpenProjectWindows<CR>

" Editor
nnoremap <leader>eo :action SelectNextOccurrence<CR>
nnoremap <leader>eh :action ShowHoverInfo<CR>
nnoremap <leader>fl :action Javascript.Linters.EsLint.Fix<CR>
nnoremap <leader>ep :action PinActiveTab<CR>
nnoremap <leader>ec :action CloseAllUnpinnedEditors<CR>
nnoremap <leader>rf :action RevealIn<CR>

" Bookmarks Window
nnoremap <c-s-b> :action ActivateBookmarksToolWindow<CR>
nnoremap <leader>ba :action ToggleBookmark<CR>
nnoremap <leader>bb :action ShowBookmarks<CR>
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>

" Commits Window
nnoremap <c-s-c> :action ActivateCommitToolWindow<CR>
nnoremap <leader>cs :action Vcs.Show.Shelf<CR>

" Git Window
nnoremap <c-s-g> :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>gl :action Vcs.ShowDiffChangedLines<CR>
nnoremap <leader>gf :action Diff.ShowDiff<CR>
nnoremap ]d :action NextDiff<CR>
nnoremap [d :action PreviousDiff<CR>

" Set Plugins
Plug 'preservim/nerdtree'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'


